/*CART*/

.containerCarrito{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    border: solid 2px palevioletred;
    width: 700px;
    height: 450px;
    margin-left: 330px;
  
  }

 .IconCart{
     color: palevioletred;
     font-size: 60px;
     margin-bottom: 20px;
     margin-top: 20px;
 } 
 .IconCart:hover{
    color:  rgb(255, 15, 155);
    border:  rgb(255, 15, 155);
} 

 .ContinuarComprandoBtn{

    padding: 10px ;
    border: palevioletred;
    background-color: palevioletred ;
    text-decoration: none;
 }

 .ContinuarComprandoBtn:hover{
    background-color:  rgb(255, 15, 155);
 }

 .ContinuarComprandoLink{

    color: white;
    text-decoration: none;
 }

 .ContinuarComprandoLink:hover{

    color: white;
 

 }

 .CategoriaCart{
     display: inline-block;
     text-decoration: none;
     color: palevioletred;
 }

 .CategoriaCart:hover{

    color:  rgb(255, 15, 155);

}

 .listaCatCart{
     list-style: none;
     margin-bottom: 50px;
 }

 /*CART ITEM*/

 #cart-container-item table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

 }

 #cart-container-item table thead{
   font-weight: 700;

}
#cart-container-item table thead td {
   background-color: rgb(255, 181, 255);
   color: white;
   border: none;
   padding: 6px 0;
}

#cart-container-item table td {
   border: solid 1px #b6b6b3;
   text-align: center;
}

.card-img-item{
   width: 80px;
   height: 90px;
   object-fit: cover;
}

.IconTrash{
   color: rgb(255, 181, 255);
}

.IconTrash:hover{
   color: rgb(255, 15, 155);
}

.removeBtn{
   background-color: white;
   border: none;
}



/*CART TOTAL */
#cartBottom .clear>div,
#cartBottom .totalCart>div{
   margin: 10px 40px;
   padding: 70px;
}

#cartBottom .clear h5,
#cartBottom .totalCart h5{
   background-color: rgb(255, 181, 255);
   color: white;
   border: none;
   padding: 6px 12px;
   font-weight: 700;
}
#cartBottom .clear p{
   padding: 0 12px;
   margin: 0 0 20px 12px;
}

#cartBottom .clear button,
#cartBottom .totalCart button{
   padding: 12px 15px;
   border: none;
   background-color: rgb(255, 181, 255);
   color: white;
   border-radius: 10px;
 margin: 0px 20px 10px 60px;
}

#cartBottom .totalCart div>div{
   padding: 0 12px;
}

