

.itemListContainerP{
    text-align: center;
    color: #ffdaf2;
    font-size: 30px;
    margin-top: 20px;
}

/*itemCount*/

.cardTitle{
    text-align: center;
    color: rgb(255, 124, 255);
}

.CardContainer{
    display: flex;
    padding: 30px;
    margin-left: 80px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.CardItem{
    
}
