
/*INICIO*/
.itemListContainerP{
    text-align: center;
    color: #ffdaf2;
    font-size: 30px;
    margin-top: 20px;
}
/*card del item list container */

  .listContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-evenly;
  }

.productCard{
    background:#ffffff;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.45);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    margin: 1rem;
    padding: 1rem 0;
  }
  
  .productCard .imgProduct{
    position:relative;
    margin-top: 0;
    width: 280px;
    height: 340px;
  }
  .productCard .imgProduct img{width:100%;}
  .productCard .imgProduct .whishlist{
    position:absolute;
    bottom: 30px;
    right:20px;
    background:rgb(255, 15, 155);
    width:40px;
    height:40px;
    padding:8px;
    border-radius:50%;
    text-align: center;
    color: white;
  }
  .productCard .imgProduct .whishlist:hover{
    background-color: white;
    color: rgb(255, 0, 149);
  }
  .productCard .infoProduct{
      padding:0px 25px;
      margin-bottom: 60px;
    
    }
  .productCard .infoProduct {
      font-size:18px;
      font-weight:700;
      color:#131313;
      margin-top: 15px;
  }
  .titleProduct{
    color: rgb(255, 15, 155);
    font-size:18px;
    font-weight:700;
    margin-top: 15px;
    text-align: center;
  }
  .productCard .infoProduct .description{
      font-size:15px;
      font-weight:400;
      margin-bottom: 30px;
      color:#414141;
  }
 
  .btnCart{
    background:rgb(255, 15, 155);
    color:#ffffff;
    padding:10px 0px;
    margin-top:10px;
    text-decoration:none;
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: none;
    padding: 10px 40px;
    margin-left: 18px;
  }
  .btnCart:hover{
    background-color:rgb(255, 0, 149);
    color: rgb(255, 181, 255);
  }

  .bagItem{
      width: 25px;
      height: 25px;
      margin-left: 10px;
      color: #ffffff;
  }
  .bagItem:hover{
    color: rgb(255, 181, 255);
  }
 