
/*-------------NAVBAR------------------*/

.navbar{
  
    background-color: rgb(255, 181, 255);
    text-align: center;
   
  }
  
  .logo{
   
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

  
  .navbar-toggle{
  color: white;
  text-decoration: none;
  border: none;
  }
  
  .offcanvas-header{
    background-color: #ffdaf2;
  }
  
  .offcanvas-body{
    background-color: #ffdaf2 transparent;
    
  }
  .nav-link{
    margin-top: 20px;
    text-align: center;
  }
    Nav .Link:hover {
    color: rgb(255, 181, 255);
  }

 .LinkTo {
      text-decoration: none;
      color: black;
      
  }

  .LinkTo:hover{
   
     color: rgb(255, 15, 155);
   
  }
/*NAVBAR DROPDOWN*/
  .nav-dropdown{
    margin-top: 20px;
    text-align: center;
  
  }
 
  .Nav-dropdown-title:hover{
    color: rgb(255, 15, 155);
  }
  #offcanvasNavbarDropdown{
    color: black ; 
    text-decoration: none ;
  }

  #offcanvasNavbarDropdown:hover{
    color: rgb(255, 15, 155);
  }

  /* WISHLIST - PROXIMAMENTE*/

  .boxTamaño {
    display: grid;
    grid-template-rows: 0px 400px;
  }
  .boxTamaño h1 {
    text-align: center;
    color: rgb(255, 15, 155);
    font-size: 65px;
    margin-top: 160px;
  }


  @media screen and (max-width: 576px) and (min-width: 451px) {
    .boxTamaño h1 {
      font-size: 50px;
    }
  }
  @media screen and (max-width: 450px) and (min-width: 330px) {
    .boxTamaño h1 {
      font-size: 35px;
    }
  }
    /* WISHLIST - PROXIMAMENTE*/