body{
  background-color: seashell;
  text-align: center;
  border-radius: 0.5rem;
}

/*------------------------CARRITO--------------------*/

.carritoImg{
  display: flex;
  background: none;
  font-size: 20px;
  padding-right: 20px;
  margin-right: 30px;
  color: white;
  margin-top: 15px;
}
.carritoImg:hover{
  color: rgb(255, 15, 155);
}

.numeroCarrito{
  margin-left: 5px;
  color: white;
  font-size: 13px;
  text-decoration: none;
}

.linkNumCart{
    text-decoration: none;
}

/* item detail container*/
/*ITEM COUNT*/
.itemCount {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 1rem;
  border-radius: 3px;
}
.itemCount > button {
  background-color: antiquewhite;
  color: white;
  width: max-content;
  align-self: center;
  padding: .9rem;
  margin: .5rem;
  border-radius: .4rem;
  border: none;
  text-decoration: none;
}
.itemDetailContainer{
  background-color: #ffdaf2;
  
}
.itemDetail{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 20px;
}

.itemDetailImg {
  padding: 1rem;
}

.detailImg {
  width: 20rem;
  border-radius: 20px;
}

.itemDetailDetalle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.itemDetailDescripcion {
  width: 20rem;
  color: black;
  text-align: center;
}
.itemDetailPrecio{
  color: black;
}

/*orders*/
.containerForm{ 
  background-color: #ffdaf2;
  color: white;
  margin: 30px auto;
  padding: 18px;
  width: 420px;
  border-radius: 3px;
  font-size: 13px;
  border: solid 1px rgb(255, 15, 155);
}
.titleForm{
  text-align: center;
  color: rgb(255, 15, 155);
}
.titleForm:hover{
  color: rgb(255, 0, 149s);
}
div p {
  margin-bottom: 0;
  color: rgb(255, 15, 155);
  margin-top: 15px;
}

input{
  outline: none;
  border: 0;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 15px;
}

.fieldForm{
  border: solid 1px #ccc;
  padding: 8px;
  width: 385px; 
}

.fieldForm:focus{
  border-color: rgb(255, 15, 155);
}

.btnForm{
  border-radius: 3px;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgb(0 , 0, 0,0.3);
  color: white;
  background-color: rgb(255, 15, 155);
  margin-top: 15px;
  width: 385px;
  border-color: rgb(255, 15, 155);
  border-radius: 5px;
}

.btnForm:hover{
  background-color: rgb(255, 0, 149);
  border-color: rgb(255, 0, 149);
}

.titleOrder{
  color: rgb(255, 15, 155);
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
}
.linkAlInicio{
  text-decoration: none;
  color: rgb(255, 15, 155);
  font-size: 13px;
  margin: 140px;
}
.linkAlInicio:hover{
  color: rgb(255, 0, 149);
}
/*orders - RESPONSIVE*/
@media screen and (max-width: 430px) {
  .containerForm{ 
  margin: 20px auto;
  padding: 16px;
  width: 350px;
}
input{
  font-size: 14px;
}
.fieldForm{
  padding: 7px;
  width: 305px; 
}
.linkAlInicio{
  margin: 110px;
}
.btnForm{
  border-radius: 3px;
  display: inline-block;
  padding: 8px 13px;
  width: 305px;
}
.titleOrder{
  font-size: 15px;
}
}
/*orders*/

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 181, 255);
  padding-top: 1rem;
  margin-top: 1rem;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
ul {
  padding-left: 0 !important;
  list-style: none;
}

.footerRight {
  color: white;
}

.footerLinks {
  display: flex;
  justify-content: space-evenly;
}

.redesSociales{
  margin-top: 8px;
  width: 30px;
  height: 30px;
}

.redesSociales1{
  width: 43px;
  height: 43px;
}

/* CONTACTO*/
.contactoContainer{
  text-align: center;
  margin-bottom: 20px;
}
.contactoContainer h3{
  font-size: 20px;
}
.tituloH2{
  font-size: 35px;
  text-align: center;
  margin-top: 20px;
  color: rgb(255, 181, 255);
}
.iconContacto{
  color: rgb(255, 15, 155);
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.contactoP{
  color:black;
  font-size:15px;
  margin-bottom: 18px;

}

