

.navbar{
  
  background-color: rgb(255, 181, 255);
  text-align: center;
}

.logo{
  color:white !important;
  text-decoration: none;
}

.navbar-toggler-icon{
color: white;
text-decoration: none;
border: none;
}
.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.offcanvas-header{
  background-color: #ffdaf2;
}

.offcanvas-body{
  background-color: #ffdaf2;
  
}
.nav-link{
  margin-top: 20px;
}
.btnSignUp{
  color: black;
  font-size: 16px;
  text-decoration: none;
  background-color: #ffdaf2;
  border-radius: 6px;
  border-color: violet;
  padding: 6px ;
  margin-top: 160px;

}

.btnLogin{
  color: black;
  font-size: 16px;
  text-decoration: none;
  background-color: #ffdaf2;
  border-radius: 6px;
  border-color: violet;
  padding: 6px ;
  margin-left: 15px;
 
}

